.reserve_card{
    width: 100%;
    max-width: 300px;
    border: 1px solid #111;
    overflow: hidden;
    background-color: rgba(229, 227, 227, 0.667);
    padding: 2em 1.5em 2.5em;
    border-radius: .9em;
    box-shadow: 0.3em 0.3em #eeea;
    margin: 3rem;
}

.reserve_card_img {
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    border-radius: .9em;
}

.reserve_card_section{
    padding: 1.5em 1.5em 2em;
}

.rate_btn {
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    color: rgb(102, 16, 16);
}

.bx {
    color: red;
}